{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title_page %}
  Register
{% endblock %}

{% block container %}
  <div class="container">
    {% from "macros/flash.html" import render_flashed_messages %}
    {{ render_flashed_messages() }}
    <form class="" action="/accounts/register" method="POST">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password_confirmation) }}
      <input class="btn btn-primary" type="submit" value="Register">
    </form>
  </div>
{% endblock %}
