{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title_page %}
    Check In
{% endblock %}
{% block container  %}
    <div class="container">
    {% from "macros/flash.html" import render_flashed_messages %}
        {{ render_flashed_messages() }}
        <form method="POST" action="/checkin_and_out/checkinform">
             {{ fm.csrf_token }}
             {{ wtf.form_field(fm.first_name) }}
             {{ wtf.form_field(fm.last_name) }}
             {{ wtf.form_field(fm.credit_num) }}
            <input  class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
{% endblock  %}
